.image-warning {
  background-color: #f5c2cd;
  border-left: #bc5c70 5px solid;
  display: flex;
  padding: 5px;
  border-radius: 2px;
  margin: 20px 0;
  align-items: center;
  gap: 10px;
}

.entity-list p {
  color: #000;
}

.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.moreInput {
  display: flex;
  gap: 5px;
}

.moreInput input {
  width: 80%;
  padding: 5px;
}

.mob-search-bar {
  background-color: #fff;
  height: fit-content;
  padding: 4px;
  width: 90%;
  margin-top: 15px;
  border-radius: 6px;
}



  @media screen and (min-width: 720px) {
    #result {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
    }
  
    .moreInput {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  
    #result > div {
      max-width: 320px;
    }
  }
  
  @media screen and (min-width: 1440px) {
    #result > div {
      display: grid;
      grid-template-columns: 1fr 480px;
      align-items: center;
    }
  }

  .box {
    padding: 16px;
    box-shadow: -4px -4px 2px 0px #00000040 inset;
    text-shadow: 2px 2px 2px #00000080;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
  }
  
  .box.passive {
    background-color: #4F8C69;
  }
  .box.Passive {
    background-color: #4F8C69;
  }
  
  .box.neutral {
    background-color: #E3B599;
  }
  
  .box.hostile {
    background-color: #D24646;
  }
  
  .box * {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
  }

  #result {
    gap: 50px;
  }
  
  #result > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    min-width: 320px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 15px;
  }
  
  #result img {
    max-width: 120px;
    max-height: 200px;
  }
    
  #result .info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
  }
  
   
  #result > div {
    height: 400px;
  } 
  
  #result .info p {
    width: max-content;
    color: black;
  }

  #mobs-search-btn {
    background-color: transparent;
    border: none;
    font-size: 22px;
    color: #4f8c69;
    cursor: pointer;
  }
  
  #mobs-search-btn-green {
    background-color: #4f8c69;
    border: none;
    font-size: 22px;
    padding: 8px 32px;
    border-radius: 9999px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }

  #result > div.hostile {
    border: 3px solid #D24646;
  }
  
  #result > div.neutral {
    border: 3px solid #E3B599;
  }
  
  #result > div.passive {
    border: 3px solid #4F8C69;
  }

   
  #result > div.Passive {
    border: 3px solid #4F8C69;
  }
  
#result > div > div {
  width: 90%;
}


section#result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Rubik;
font-weight: 700;
font-size: 22px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
color: #8C8C8C;

}

.entity-desc {
  display: flex;
align-items: center;  
}

.entity-desc > p {
  font-family: Rubik;
  font-weight: 400;
}
.entity-info {
  margin: 0 auto;
  width: 100%;
  display: flex;
  gap: 24px;
  align-items: stretch;
  flex-wrap: wrap;
}

.entity-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1 1 300px;
}

.entity-text p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.text-down {
  margin-top: auto;
}

.entity-image {
  flex: 1 1 200px;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.entity-image img {
  width: 30%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

@media screen and (max-width: 1100px) {
  .entity-image img {
    width: 100%;
  } 
}
